<div class="open">
    <h1>Client Details</h1>
    <div class="block-details">
        <label for="name">Name: </label>
        <input type="text" placeholder="name" name="name">
        <label for="bdate"> Birth date:
            <input name="bdate" type="date">
        </label>
        <label for="cpf">
            CPF:
            <input type="text" name="cpf">
        </label>
    </div>
    <h1>Client Contact Details</h1>
    <div class="block-contact">
        <label for="email">Email: </label>
        <input type="email" placeholder="email" name="email">
        <label for="phone">
            Phone:
            <input type="text" name="phone">
        </label>
    </div>
    <div class="block-address">
        <label for="address">
            Address:
            <input type="text" name="address">
        </label>
        <label for="no">
            No:
            <input type="text">
        </label>
        <label for="complement">
            Complement:
            <input type="text" name="complement">
        </label>
        <label for="city">
            City:
            <input type="text" name="city">
        </label>
        <label for="state">
            State:
            <select name="state" id="state">
                <option value="Parana">
                    Parana
                </option>
            </select>
        </label>
        <label for="zip">
            ZIP:
            <input type="text" name="zip">
        </label>
        <label for="country">
            Country:
            <select name="country" id="country">
                <option value="BR">
                    BR
                </option>
            </select>
        </label>
    </div>
</div>