<div class="open">
    <h1>Company Information</h1>
    <div class="block-boleto">
        <label for="com-name">
            Company name: 
            <input id="com-name" name="com-name">
        </label>
        <label for="com-doc">
            Company document:
            <input type="text" id="com-doc" name="com-doc" value="853.513.468-93">
        </label>
        <label for="found-date">
            Company founding date:
            <input type="date" id="found-date" name="found-date">
        </label>
    </div>
</div>