<div class="open">
    <h1>Client Card Information</h1>
    <div class="block-card">
        <label for="card-number">
            Card number:
            <input type="text" id="card-number" maxlength="16" name="card-number">
        </label>
        <label for="card-name">
            Card name:
            <input type="text" id="card-name" name="card-name">
        </label>
        <br>
        <label for="card-cvv">
            CVV:
            <input type="text" id="card-cvv" name="card-cvv">
        </label>
        <label for="card-date">
            MM/YYYY
            <input type="text" id="card-date" name="card-date">
        </label>
        <br><br>
        <label for="card-type">
            Card Type:
            <select name="card-type" id="card-type">
                <option value="visa">Visa credit card</option>
                <option value="mastercard">Mastercard credit card</option>
                <option value="amex">American Express credit card</option>
                <option value="aura">Aura credit card</option>
                <option value="diners">Diners credit card</option>
                <option value="discover">Discover credit card</option>
                <option value="elo">Elo credit card</option>
                <option value="hipercard">Hipercard credit card</option>
            </select>
        </label>
    </div>
</div>