<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body>
    <h1>Buy The Guitar</h1>
    <hr>
    <img src="/static/guitar.png" alt="guitar" height="150" width="500"/>
    <hr>
    <form action="" method="POST">
        <div class="block-price">
            <span>
                Price of staff:
            </span>
            <span>
                300$
            </span>
        </div>
        <div class="block-amount">
            <label for="amount">
                Amount:
                <input type="number" min="1" max="10" id="amount" name="amount" value="1">
            </label>
        </div>
        <input type="hidden" value="300" name="price">
        <br>
        <div class="block-currency">
            <label for="currency">Currency</label>
            <select name="currency" id="currency">
                <option value="BRL">BRL</option>
                <option value="EUR">EURO</option>
                <option value="USD">USD</option>
            </select>
        </div>

        {% if error %}
            <div class="error-block">
                <span>
                    {{ error }}
                </span>
            </div>
        {% endif %}

        <h1>Client Details</h1>
        <div class="block-details">
            <label for="name">Name: </label>
            <input type="text" placeholder="name" name="name">
            <br>
            <label for="bdate"> Birth date:
                <input name="bdate" type="date">
            </label>
            <br>
            <label for="cpf">
                CPF:
                <input type="text" name="cpf" value="853.513.468-93">
            </label>
        </div>
        <h1>Client Contact Details</h1>
        <div class="block-contact">
            <label for="email">Email: </label>
            <input type="email" placeholder="email" name="email">
            <label for="phone">
                Phone:
                <input type="number" name="phone">
            </label>
        </div>
        <div class="block-address">
            <label for="address">
                Address:
                <input type="text" name="address">
            </label>
            <label for="street-number">
                Street number:
                <input type="number" name="street-number">
            </label>
            <br>
            <label for="city">
                City:
                <input type="text" name="city">
            </label>
            <label for="zip">
                ZIP:
                <input type="number" name="zip">
            </label>
            <br>
            <label for="state">
                State:
                <select name="state" id="state">
                    <option value="Parana">
                        Parana
                    </option>
                </select>
            </label>

            <label for="country">
                Country:
                <select name="country" id="country">
                    <option value="BR">
                        BR
                    </option>
                </select>
            </label>
        </div>
        <br>
        <label for="pay-type">
            Pay with:
            <select id="pay-type" name="pay-type" data-url="/pay-type">
                <option value="">-------</option>
                <option value="boleto">Boleto</option>
                <option value="credit-card">Credit Card</option>
            </select>
        </label>
        <br>
        <button type="submit" id="submit" disabled="disabled">Submit</button>
    </form>
    <hr>
</body>
</html>