<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Thanks page</title>
</head>
<body>
    <h1 class="thanks-header">
        Thank You For Your
        {% if second_payment %}
            <b>second</b>
        {% endif %}
        Purchase!
    </h1>
    {% if card_payment %}
        {% if not second_payment %}
            <a href="/buy_one_more/{{ purchase_id }}" class="thanks-button">
                Buy one more Thing!
            </a>
        {% endif %}

        <a href="/refund/{{ purchase_id }}" class="thanks-button">
            Refund last payment
        </a>

    {% else %}
        <a href="/cancel/{{ purchase_id }}" class="thanks-button">
            Cancel last payment
        </a>
    {% endif %}
    <a href="/" class="thanks-button">
        Go to new Purchase
    </a>
</body>
</html>