<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Thanks page</title>
</head>
<body>
    <h1 class="thanks-header">
        Thank You For Your
        {% if second_payment %}
            <b>second</b>
        {% endif %}
        Purchase!
    </h1>
    {% if card_payment %}
        {% if not second_payment %}
            <a href="/buy_one_more/{{ purchase_id }}" data-type="buy-one-more" class="thanks-button">
                Buy one more Thing!
            </a>
        {% endif %}

        <a href="/refund/{{ purchase_id }}" data-type="refund" class="thanks-button">
            Refund last payment
        </a>

        <form action="/refund/{{ purchase_id }}" method="post">
            <label for="partial-refund">
                Amount to refund:
                <input type="number" min="1" max="{{ amount }}" name="partial-refund" id="partial-refund" required>
            </label>
            <button type="submit" class="partial-refund-button">Partial refund last payment</button>
        </form>

    {% else %}
        <a href="/cancel/{{ purchase_id }}" data-type="cancel" class="thanks-button">
            Cancel last payment
        </a>
    {% endif %}
    <a href="/" class="thanks-button">
        Go to new Purchase
    </a>
</body>
</html>